body {
    box-sizing: border-box;
    margin : 0 80px;
}

body {
    font-family : 'Poppins', sans-serif;
}

#bgimg {
    background-image : url('../Images/Pages/homeimage2.png');
    background-repeat: no-repeat;
    background-size : 100%;
}

nav {
    display : flex;
    padding-top : 10px;
    padding-left : 5px;
}

nav ul {
    display : flex;
    margin : 0px 20px 0px auto;
    list-style : none;
    gap : 20px;
}

nav ul li a{
    text-decoration : none;
    color : #516373;
}

nav ul li a:hover {
    color : #012340;
}

#herotxt1 {
    text-align : center;
    margin-top : 560px;
    padding-bottom : 1%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, white 100%);
}

#btn1 {
    color : white; 
    background-color : #012340; 
    padding : 10px 18px 10px 18px;
    margin-top : -15px; 
    border-radius : 50px 50px; 
    border : none;
}

#btn1:hover {
    cursor : pointer;
}

#sec {
    display : flex;
    justify-content : space-between;
    margin-top : 40px;
}

#secs0 {
    display : flex;
    justify-content: space-around;
}

#img0 {
    width : 500px;
    height : 650px;
    border-radius : 40px 40px;
    border : none; 
}

#sectxt {
    margin : auto 0px;
}

h2 {
    color : #012340; 
    text-align : center; 
    margin-top : 100px; 
    margin-bottom : 60px;
    font-size : 30px;
}

#secs1 {
    display : flex;
    justify-content: space-between;
}

.img-sec {
    width : 400px;
    height : 260px;
}

.heading-3 {
    color : #012340;
}

.p-sec {
    color : #516373;
    font-size : 16px;
}

#secs2 {
    display : flex;
    justify-content: space-between;
}

.img1-sec {
    border-radius : 50%;
    width : 45px;
    height : 45px;
}

#secs3 {
    display : flex;
    justify-content : space-around;
    
}

.remark1 {
    background : rgb(245, 250, 247);
    text-align : left;
    padding : 30px;
}

.remimg {
    border-radius : 50%;
    width : 150px;
    height : 200px;
    display : block;
    margin : 0px auto 30px auto;
}

.remp, .remp-name, .remp-cat {
    color : #0e181f;
}

.remp-name, .remp-cat {
    text-align : center;
    font-style: italic;
}

.remp-name {
    font-size : 16px;
}

.remp-cat {
    margin-top : -15px;
    font-size : 15px;
}

#foot {
    margin-top : 100px;
    background-color : #516373;
    display : flex;
    justify-content : center;
}

#footxt {
    align-items : center;
    padding : 17px;
    color : aliceblue;
}


